/* CSS Document */


/* HOME PAGE */
A	{
	text-decoration:none;
	color:#0000ff;
	text-align : center;
	width : 100px;
	margin-left : 10px;
	
	background-color : transparent;
}
A:link { color:#000000} 
A:visited { color:#000000} 
A:active { color:#000000} 
h3 
	{background:#ddddff; color:#0000cc; border-color:silver; border-width:3;  width:330; height:30; border-style:ridge; padding:5}


