/* CSS Document */


/* HOME PAGE */
body 
	{ margin-left:45px;background-image:url(./papier.gif);background-repeat:repeat-y; }
A	{ text-decoration:none;color:#0000ff; }
A:link { color:#0000ff;} 
A:vlink { color:#0000ff;} 
h2 
	{background-color:#bbccff; color:#ffffdd; border-color:silver; border-width:3;  width:400; height:30; border-style:ridge; padding:5; margin: 40 0;border-radius: 8px;box-shadow: 10px 10px 5px #999999;}
h3 
	{background-color:#bbddff; color:#0000cc; border-color:silver; border-width:3;  width:330; height:30; border-style:ridge; padding:5;border-radius: 5px;box-shadow: 6px 6px 3px #bbbbbb;}
h4 
	{background-color:#cceeff;color:#0000cc; border-color:silver; border-width:3;  width:330; height:30; border-style:ridge; padding:5;border-radius: 5px;box-shadow: 6px 6px 3px #bbbbbb;}
dt 
	{background-color:#ccddff; color:#0000cc; width:500; height:30; padding:5 5 5 10; margin:20 0 10 0;font-weight:bold;border-radius: 5px;box-shadow: 6px 6px 3px #bbbbbb;}
dt.main
	{border-style:solid; border-width:1;}
dt.nic
	{margin:0 0 0 0;padding:0 0 0 0;background-color:#ffffff;border-width:0;border-radius: 0px;box-shadow: 0px 0px 0px #bbbbbb;}
dd dt
	{	background-color: #eeeeff;}
table
	{border-width:1;margin-top:10;margin-bottom:10;}
td
	{padding-left:15;}
ul				{list-style-position: outset; list-style-type:none;margin-left:0;}
ul li				{padding-left:30px;margin-top:5; background-repeat: no-repeat;background-position:4px left;background-image:url("./c1.gif");}
ul li li			{background-image:url("./c2.gif");}
ul li li li		{background-image:url(./c3.gif);}


