body
{
 background-color: #ffffff;
 text-align:center;
 width:99%;
 margin:0px;
 padding:0px;
 font-family:arial,sans-serif;
 font-size:12px;
 color:#074912;
}
a i { text-decoration:none; font-style:normal; }
a:hover i { text-decoration:underline; font-style:normal; }
a { color:#074912; font-weight:bold; text-decoration:none; }
a:hover { color:#074912; font-weight:bold; text-decoration:underline; }
a.normal { font-weight:normal; }


div#main
{
 width:900px;
 margin-right:auto;
 margin-left:auto;
 margin-top:0px;
 padding:0px;
 text-align:left;
 background-color:#ffffff;
}
div#top
{
 margin:0px;
 padding:0px;
}
h1
{
	z-index:60;
	text-align:left;
	width:900px;
	margin:0px; padding:0px;
  margin-left:auto;
  margin-right:auto;
	height:64px;
  border-style:none; border-width:0px;
}
h1 img { margin-top:6px; margin-left:41px; border-style:none; border-width:0px; }


div#banner
{
 position:absolute; top:0px; left:0px;
 width:99.99%;
 text-align:center;
}
div#banner div
{
 height:70px;
 width:900px;
 margin:0px;
 padding:0px;
 margin-left:auto;
 margin-right:auto;
 margin-top:0px;
 text-align:right;
}
div#banner div a
{
/* display:block;*/
 border-width:0px;
 border-style:none;
 padding:0px; margin:0px;
}
div#banner div img
{
 border-width:0px;
 border-style:none;
 padding:0px; margin:0px;
 float:none;
}

div#stripe
{
 text-align:right;
 height:19px;
 width:800px;
 background-image:url('images/stripe.gif');
 background-repeat:no-repeat;
 background-position:0 0;
}
div#slogan
{
 height:19px;
 width:206px;
 float:right;
 background-image:url('images/slogan.gif');
 background-repeat:no-repeat;
 background-position:0 0;
}

div#menu
{
 width:800px;
 margin:0px;
 padding:0px;
 margin-top:10px;
 margin-left:50px;
 height:21px;
 text-indent:0px;
}
div#menu ul
{
 margin:0px;
 padding:0px;
 text-indent:0px;
 line-height:15px;
 list-style-type:none;
}

div#menu ul li
{
 list-style-type:none;
 display:inline;
 float:left;
 margin:0px;
 padding:0px;
 padding-right:47px;
 line-height:15px;
 text-indent:0px;
}
div#menu ul li a
{
 text-indent:0px;
 font-weight:bold;
 font-size:12px;
 margin:0px;
 padding:0px;
 color:#074912;
 text-decoration:none;
}
div#menu ul li a:hover { text-decoration:underline; }

div#left
{
 padding:0px;
 margin:0px;
 float:left;
 background:#ffffff;
 padding-left:50px;
 width:226px;
 voice-family: "\"}\"";
 voice-family:inherit;
 width: 176px;
}
html>body div#left
{
 width: 176px;
}

div#left h2
{
 padding:0px;
 font-size:24px;
 padding-top:35px;
 margin:0px;
 height:100px;
}

div#stvorcek
{
 margin-top:125px;
 width:160px;
 height:160px;
 background-image:url(images/image.jpg);
 background-repeat:no-repeat;
 background-position:0 0;
 padding:0px;
}

label.hidden { display:none; }


div#center
{
 padding:0px;
 padding-top:103px;
 padding-right:9px;
 float:left;
 background:#ffffff;
 width:359px;
 voice-family: "\"}\"";
 voice-family:inherit;
 width:350px;
}
html>body div#center
{
 width:350px;
}

h3
{
 padding:0px;
 margin:0px;
 font-size:13px;
 font-weight:bold;
 /* padding-top:10px; */
 padding-bottom:7px;
}
h3.home { margin-top:17px; }
p
{
 text-align:left;
 font-size:12px;
 margin-top:0px;
 margin-bottom:7px;
}
p.home { text-indent:25px; }
p.produkty { margin-left:0px; }
p.oelearningu { margin-bottom:15px; }
ul
{
 margin:0px; padding:0px;
 margin-bottom:7px;
 margin-left:15px; /* 50 */
 padding-left:1px;
}
ul li
{
 line-height:16px;
 list-style-type:square;
 font-weight:normal;
 margin-left:0px;
 padding-left:0px;
 text-indent:0px;
}

ul.kontakt
{
 margin-bottom:5px;
 margin-left:0px;
 list-style-type:none;
}
ul.kontakt li
{
 list-style-type:none;
 line-height:16px;
 font-weight:normal;
 clear:both;
}
ul.kontakt li em
{
 font-style:normal;
 font-weight:bold;
}
ul.kontakt li a
{
 font-style:normal;
 font-weight:normal;
 text-decoration:none;
}
ul.kontakt li a:hover
{
 font-style:normal;
 font-weight:normal;
 text-decoration:underline;
}

img.email
{
 padding:0px;
 margin:0px;
 vertical-align:bottom;
}

ul.form
{
 margin:0px;
 padding:0px;
 margin-bottom:1px;
 margin-left:0px;
 padding-left:0px;
}
ul.form li
{
 list-style-type:none;
 display:block;
 clear:both;
 height:18px;
 margin:0px;
 padding:0px;
 padding-top:1px;
 margin-right:5px;
}

ul.form li label
{
 text-align:right;
 display:block;
 float:left;
 clear:left;
 margin:0px;
 margin-right:4px;
 padding:0px;
 width:88px;
 font-weight:normal;
}
ul.form li input
{
 float:left;
 clear:right;
 margin:0px;
 padding:0px;
 margin-top:0px;
 vertical-align:top;
 border:solid 1px #074912;
 height:16px;
 width:180px;
 font-family:arial;
 font-size:12px;
 color:#074912;
 background-color:#ffffff;
 font-weight:normal;
}
p.submit
{
 text-align:right;
 display:block;
 clear:both;
 width:272px;
 margin:0px;
 margin-top:4px;
 padding:0px;
}
p.submit input.submit
{
 text-align:left;
 text-indent:0px;
 width:60px;
 overflow:visible;
 margin:0px;
 padding:0px;
 font-weight:bold;
 font-family:arial,sans-serif;
 font-size:12px;
 border-style:none;
 border-width:0px;
 background-color:#ffffff;
 color:#074912;
 text-decoration:none;
 cursor:pointer;
}
p.submit input:hover.submit { text-decoration:underline; }

div#right
{
 padding:0px;
 padding-left:16px;
 padding-right:0px;
 padding-top:15px;
 float:left;
 border-left:solid 1px #074912;
 width:203px;
 height:420px;
 voice-family: "\"}\"";
 voice-family:inherit;
 width:187px;
 height:405px;
}
html>body div#right
{
 width:187px;
 height:405px;
}
div#right p
{
	margin-bottom:1.65em;
}
br { clear:both; }

.hidden { display:none; }
