/* CSS Document */


/* HOME PAGE */
body 			{background-image:url(papier.gif);margin-left:45;background-repeat:repeat-y;}
A:link 			{color:#0000ff} 
A:vlink 		{color:#0000ff} 
h2 				{background:#ddffdd; color:#009900; border-color:silver; border-width:3;  width:400; height:30; border-style:ridge; padding:5; margin:0 0 40 0;border-radius: 8px;box-shadow: 10px 10px 5px #999999;}
h3 				{background:#ddddff; color:#0000cc; border-color:silver; border-width:3;  width:330; height:30; border-style:ridge; padding:5;border-radius: 5px;box-shadow: 6px 6px 3px #bbbbbb;}
h4 				{background:#ddddff; color:#0000cc; border-width:0;  width:330; height:30; padding:5}

dt 				{background:#ddddff; color:#0000cc; width:330; height:30; padding:5; margin:20 0 10 0;border-width:3; border-style:outset;font-weight:600;border-radius: 5px;box-shadow: 6px 6px 3px #bbbbbb;}
dl dl dt		{border-width:0;}	
ul.circle		{list-style-type:circle; list-style-image:none}
ul.disc			{list-style-type:disc; list-style-image:none}
ul.square		{list-style-type:square; list-style-image:none}
ul				{list-style-position: outset; list-style-type:none;margin-left:0;}
li				{padding-left:30px;margin-top:5; background-image: url(../zoznamy/c1.gif); background-repeat:no-repeat;background-position:3px left;}
li li			{background-image:url(../zoznamy/c2.gif);}
li li li		{background:url(../zoznamy/c2.gif) ;}

