/* CSS Document */


/* HOME PAGE */
body 
	{ margin-left:45px;background-image:url(./papier.gif);background-repeat:repeat-y; }
A	{ text-decoration:none;color:#0000ff }
A:link { color:#0000ff} 
A:vlink { color:#0000ff} 
h2 
	{background:#999900; color:#ffffdd; border-color:silver; border-width:3;  width:400; height:30; border-style:ridge; padding:5; margin: 40 0;}
h3 
	{background:#ddddff; color:#0000cc; border-color:silver; border-width:3;  width:330; height:30; border-style:ridge; padding:5}
dt 
	{background:#ddddff; color:#0000cc; width:500; height:30; padding:5; margin:20 0 0 0;}
dt.main
	{border-style:solid; border-width:1;}
table:border
	{width:1;}
td
	{padding-left:15;}
ul				{list-style-position: outset; list-style-type:none;margin-left:0;}
ul li				{padding-left:30px;margin-top:5; background-repeat: no-repeat;background-position:4px left;background-image:url("./c1.gif");}
ul li li			{background-image:url("./c2.gif");}
ul li li li		{background-image:url(./c3.gif);}


