/* CSS Document */


/* HOME PAGE */
body 
	{ background-image:url(./papier.gif);margin-left:45;}
A	{ text-decoration:none;color:#000000 }
A:link { color:#000000} 
A:vlink { color:#000000} 
h2 
	{background:#999900; color:#ffffdd; border-color:silver; border-width:3;  width:400; height:30; border-style:ridge; padding:5; margin: 40 0;}
h3 
	{background:#ddddff; color:#0000cc; border-color:silver; border-width:3;  width:330; height:30; border-style:ridge; padding:5}
dt 
	{background:#ddddff; color:#0000cc; width:400; height:30; padding:5; margin:20 0 0 0;}
table:border
	{width:1;}
td
	{padding-left:15;}


