















#header-home a{    position: absolute;    top: 30px;    width: 631px;    height: 100px;}



.grid {
	text-align: center;
	width: 100%;
	min-height: 400px;
}

.el {
	display: inline-block;  
	width: 140px;
	margin: 10px;
	font-size: 1.3em;
	font-weight: bold;
}

.el img {
	width: 140px;
	max-height: 140px;
}




a {
 color: royalblue;
 text-decoration: none;
}

a:hover {
 color: DeepskyBlue;
 cursor: pointer;
}



a.aButton, input[type="submit"] {
	display: inline-block;
	text-align: center;
	background-color:#3b94e0;
	font-size:13px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:6px 25px;
	margin-bottom: 10px;
	background-image: linear-gradient(bottom, rgb(44,130,202) 0%, rgb(62,153,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,130,202) 0%, rgb(62,153,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,130,202) 0%, rgb(62,153,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,130,202) 0%, rgb(62,153,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,130,202) 0%, rgb(62,153,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,130,202)),
	color-stop(1, rgb(62,153,229))
	);
	border-radius: 5px;
	box-shadow: inset 0px 1px 0px #2a93ec, 0px 5px 0px 0px #155285, 0px 10px 5px #999;
	border: 0;
	cursor: pointer;
}

a.aButton:active, input[type="submit"]:active {
	text-align: center;
	top:3px;
	background-image: linear-gradient(bottom, rgb(62,153,229) 0%, rgb(44,130,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,153,229) 0%, rgb(44,130,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,153,229) 0%, rgb(44,130,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,153,229) 0%, rgb(44,130,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,153,229) 0%, rgb(44,130,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,153,229)),
	color-stop(1, rgb(44,130,202))
	);
	box-shadow: inset 0px 1px 0px #2a93ec, 0px 2px 0px 0px #155285, 0px 5px 3px #999;
}



#last-comments {
	padding-top: 10px;
	border-radius: 6px; border: 2px solid #C9CBCD; border-width: 1px 1px 2px;
	background-position: center; 
	background-repeat: no-repeat;	
	width: 248px;
	height: 217px;
	text-align: center;
}

#langbar {
	text-align: center;
}

#langbar img
{
	margin-right: 18px;
}

#langbar-last-img
{
	margin-right: 0px !important;
}

.sorting-table {
	margin: 5px auto;
	border-collapse: collapse;
	border: 0px;
}

.sorting-table td {
	padding: 5px 10px 5px 10px;
	font-size: 1.2em;
	border: 1px solid black;
	width: 14px;
	text-align: center;
}


.sorting-table-high {
	margin: 5px auto;
	border-collapse: collapse;
	border: 0px;
}

.sorting-table-high td {
	padding: 5px 10px 5px 10px;
	font-size: 1.2em;
	border: 1px solid black;
	width: 14px;
	text-align: center;
}

.sorting-table-high strong {
	color: #0066FF;
}

.sorting-table-high em {
	color: #0066FF;
	font-style: normal;
}


#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
	#sortable li span { position: absolute; margin-left: -1.3em; }



#navigation_bar td
{
	text-align: center;
	padding-bottom: 20px;
}

#navigation_bar
{
	width: 100%;
}



<!-- tabulka výpisu článků -->

#articles-list {
	width: 760px;
}

#articles-list td:hover {
	background-color: #CCFFFF;
}


a img:hover
{
   opacity: 0.8;
}


.tip_odkaz {
 font-size: 13px;
 color: white;
 text-decoration: underline;
 font-weight: bold;
}

.tip_odkaz:hover {
 color: DodgerBlue;
}


.source {
 border-style: solid;
 background-color: white;
 padding: 10px;
 font-family: lucida console;
}

.screenshoty {
 width: 640px;
 text-align: center;
 border: 0px;
}

.screenshoty td {
 text-align: center;
 width: 33%;
}



#banner {
  position: absolute;
  top: 135px;
  width: 120px;
}




#nahodny-tip {
 text-align: center; 
 width: 110px;
 font-size: 11px;
 color: white;
}


.border-right
{
   width: 18px;
   background-repeat: repeat-y;
   background-image: url("images/img/border-right.png");
}


.score0 {
background-color:#96caff;
}
.score1 {
background-color:#f0f0f0;
}


.bez-odrazek {
 list-style-type: none;
 padding-left: 0px;
}


.programy img {

max-height: 140px;

}

.programy td {
 padding:5px;

}



.programy {
 border-collapse: collapse;
}


input1 {
 background: #fff url(guestbook/background-input.jpg) repeat-x top left; border: 1px solid #a5a5a5;
}



.bily-odkaz {
 color: white;
 text-decoration: none;
}

.bily-odkaz:hover {
 color: #000099;
 text-decoration: underline;
}





.download-table {
		text-align: center; 
		width: 700px; 
		margin-left: auto; 
		margin-right: auto; 
		padding: 175px;
		 
	}
	
	
	.register-table  {
	 margin-left: auto;
	 margin-right: auto;
	 text-align: left;
	 padding: 10px;
	}
	
	.forum-table{
	
	width: 720px;
	border-collapse: collapse;
	 
	}
	
	.forum-table td {
	padding:5px;

	}
	
	.forum-table tr:nth-child(4n+2) {
	background-color: #e1e8ef;
	}
	
	.forum-table tr:nth-child(4n+4) {
	background-color: #e1e8ef;
	}
	.forum-table tr:nth-child(4n+3) {
	background-color:  rgb(240,248,255);
	}
	
	.forum-table tr:nth-child(4n+5) {
	background-color:  rgb(240,248,255);
	}
	
	
	
	.zebra tr:nth-child(2n) {
	background-color: #e1e8ef;
	}
	
	.zebra tr:nth-child(2n+1) {
	background-color:  rgb(240,248,255);
	}
	
	.zebra-border tr:nth-child(2n) {
	background-color: #e1e8ef;
	}
	
	.zebra-border tr:nth-child(2n+1) {
	background-color:  rgb(240,248,255);
	}
	
	.zebra-border td
	{
	  border: 1px solid black;
	}
	
	.robotris-score{
	width: 400px;
	height: 213px;
	background-image: url("images/img/goblets.png");
	background-repeat: no-repeat;	
	}
	
		
	.error {
	 color: orangered;
	}
	
	//algorithm languages
	.tabs	{
		border-bottom: 1px solid #DDD;
		height: 33px;
	}
	.tabs LI	{
		cursor: pointer;
		float: left;
		text-align: center;
		list-style: none;
	}
	.tabs LI.tab	{
		background: #F4F5F5;
		background: -moz-linear-gradient(top, #FDFDFD, #F4F5F5);
		background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#F4F5F5));
		border: 1px solid #CCC;
		border-bottom: none;
		color: #777;
		filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FDFDFD', EndColorStr='#F4F5F5');
		padding: 8px 0 0;
		height: 24px;
		width: 74px;
		-moz-border-radius-topleft: 6px;
		-moz-border-radius-topright: 6px;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}
	.tabs LI.selected	{
		color: #B86364;
		height: 25px;
	}
	.tabs:AFTER	{
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
	}
	.tabcontent	{
		display: none;
		padding: 15px 0;
	}
	.tabcontent.selected	{
		display: block;
	}
	
	
	
	/*eine kleine das ist neu*/
	

	body {
		padding: 0px;
		margin: 0px;

		min-height: 100%;
				font-family: Arial;
		font-size: 13px;
	}
	
	#container {
		width: 1050px;
		margin-left: auto;
		margin-right: auto;

	}
	

	#logo {
	    float: left;
		height: 94px;
		width: 480px;
        margin-top: 5px;
	}
	
	img {
		border: 0px;
	}

	
	.menu_div  {
		width: 129px;
		vertical-align: top;
		text-align:center;
	}
	

	
	
	#message_content p {
		margin-top: 5px;
	}
	
	.gb-left-column {
		font-size: 0.8em;
		width: 130px;
		float: left;
		text-align: center;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		background-color: #E3E3E3;
	}
	
	.gb-left-column a {
		font-size: 1.2em;
	}


	article p:first-of-type:first-letter { font-weight: bold; }
	article p
	{
		text-align: justify;
	}


	/**
	* -------------------
	* Tabulka kurzů
	* -------------------
	*/

	#learning-table {
		width: 100%;
	}

	#learning-table img {
		width: 128px;
	}

	#learning-table td {
		vertical-align: top;
		width: 25%;
	}


	/**
	* -------------------
	* Nadpisy
	* -------------------
	*/

	h1, h2, h3, h4, h5, h6 {
		font-family: Arial;
		text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
		color: #333333;
	}

	h1 {
		margin: 0px;
	}

	h2 {
		font-size: 24px;
		margin: 8px 0px 20px 0px;
		text-align:center;
	}


	h3 {
		font-size: 19px;
		margin: 36px 0px 8px 0px;
	}

	h4 {
		font-size: 16px;
		margin: 18px 0px 8px 0px;
	}

	h5 {
		font-size: 14px;
		margin: 0px 0px 8px 0px;
	}

	h6 {
		font-size: 13px;
		margin: 0px 0px 8px 0px;
	}

	/**
	* -------------------
	* Zprávy
	* -------------------
	*/

	.message-error {
		border: 1px solid #ED0000;
		background-color: #EDD2CC;
		padding: 5px;
	}

	.message-info {
		border: 1px solid #00C2ED;
		background-color: #CCE7ED;
		padding: 5px;
	}

	.message-success {
		border: 1px solid #3BED00;
		background-color: #CCEDD0;
		padding: 5px;
	}

	/**
	* -------------------
	* Layout
	* -------------------
	*/

	header.layout
	{
		height: 60px;
	}

	aside.sidebar {
		width: 250px;
		float: left;
		text-align: center;
		margin-left: 10px;
	}

	footer.layout
	{
		background: url('images/img/footer_bg.png'); height: 50px; color: #555555; font-size: 0.9em; text-align: center; padding-top: 16px; font-weight: normal;
	}


	/**
	* -------------------
	* Komentáře
	* -------------------
	*/

	#message_content {
		text-align: left;
		float: left;
		width: 648px;
		padding-left: 10px;
	}

	#message_content pre {
		width: 630px;
	}


	/**
	* -------------------
	* Boxy
	* -------------------
	*/

	.wall-news-box {
		text-align: center;
		word-wrap: break-word;
		float: left;
		width: 106px;
		border-radius: 6px;
		border: 2px solid #C9CBCD;
		padding: 6px;
		border-width: 1px 1px 2px;
		background: -webkit-gradient(linear, left top, left bottom, from(white), to(#E7E8EB));
		background: -moz-linear-gradient(top, white, #E7E8EB);
		background: linear-gradient(white, #E7E8EB);
	}

	.article-thumbnail-box {
		width: 108px;
		height: 108px;
		border-radius: 6px;
		border: 2px solid #C9CBCD;
		padding: 6px;
		border-width: 1px 1px 2px;
		background: -webkit-gradient(linear, left top, left bottom, from(white), to(#E7E8EB));
		background: -moz-linear-gradient(top, white, #E7E8EB);
		background: linear-gradient(white, #E7E8EB);
	}

	.profile-avatar-box {
		border-radius: 6px;
		border: 2px solid #C9CBCD;
		padding: 6px;
		border-width: 1px 1px 2px;
		background: -webkit-gradient(linear, left top, left bottom, from(white), to(#E7E8EB));
		background: -moz-linear-gradient(top, white, #E7E8EB);
		background: linear-gradient(white, #E7E8EB);
	}

	.profile-article-box {
		border: 1px solid #E7E8EB;
		border-radius: 5px;
	}




	/**
	 * -------------------
	 * Rank
	 * -------------------
	 */

	#rateStatus{float:left; clear:both; width:100%; height:20px;}
	#rateMe{float:left; clear:both; width:100%; height:auto; padding:0px; margin:0px;}
	#rateMe li{float:left;list-style:none;}
	#rateMe li a:hover,
	#rateMe .on{background:url(images/img/star_full.png) no-repeat;}
	#rateMe a{float:left;background:url(images/img/star_empty.png) no-repeat;width:24px; height:24px;}
	#ratingSaved{display:none;}
	.saved{color:red; }


	
	/**
	 * -------------------
	 * Kalendář
	 * -------------------
	 */
	
	#calendar td
		{
			text-align: right;
			padding-left: 6px;
			padding-right: 6px;
		}	
		#calendar-today
		{
			background-color: #99E6FF;
		}	
		#calendar-dayrow td
		{
			text-align: center;
		}
		#calendar
		{
			width: 246px;
			height: 185px;
			float: left;			
		}
	
	
	
	/**
	 * -------------------
	 * Styly obsahu článku
	 * -------------------
	 */
	 
	pre {
		width: 778px;
		overflow: auto;
		background-color: #EDF3FF;
		border: 1px solid #C4D7FF;
		padding: 5px;
		margin: 0px;
		border-radius: 4px;
	}




	article img {
		max-width: 790px;
		height: auto;
	}


	/**
	 * ---------------------
	 * Další vyjížděcí věci
	 * ---------------------
	 */
	 


	
/**
 * ------------------
 * Page menu
 * ------------------
 */
nav#menu {

border-top: 1px solid #999999;
border-bottom: 1px solid #999999;

background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */


	height: 45px;
}

nav#menu ul {
	list-style: none;
	margin: 0 auto;
}

nav#menu ul li {
	float: left;	
}

nav#menu ul li > a,
nav#menu ul li > span {
	display: block;
	color: rgba(255,255,255,0.8);
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	padding: 13px 5px;
	margin: 0;
	width: 148px;
	cursor: pointer;
}

nav#menu ul li > a:hover,
nav#menu ul li > span:hover {
	background: none;
	color: white;
}

nav#menu ul li > a img:hover {
	opacity: 1;
}

nav#menu ul li ul {
	display: none;
	position: absolute; 
	z-index: 1000;
	padding: 0px;
	left: 0px;
}

#menu-placeholder {
	border: 1px solid #dcdcdc;
	border-top: none;
	background: #f0f0f0;
	padding: 0px;
	margin: 0px auto;
	height: 82px;
}

#sublinks {
	height: 82px;
}

nav#menu ul li:hover ul {
	display: block;
}

nav#menu ul li ul li a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-align: center;
	border: none;
	font-weight: normal;
	color: rgba(0,0,0,0.5);
	width: 128px;
}

nav#menu ul li ul li a img {
	display: block;
	margin: 0px auto;
}

nav#menu ul li ul li {
	width: 110px;
}

nav#menu ul li ul li a:hover {
	border: none;
	color: rgba(0,0,0,0.8);
}

#menu-tooltip {
	position: absolute;
	z-index: 1000;
	left: 0; 
	top: 0;
	background: rgba(0,0,0,0.8);
	color: #fff;
	padding: 5px;
	font-size: 13px;
	text-align: center;
	padding: 5px 8px;
	width: 138px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: none;
}

#menu-tooltip:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: rgba(0,0,0,0.8) transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position: absolute;
  bottom: -20px;
  left: 65px;
}

nav#menu ul, nav#menu ul li ul {
  	width: 1000px;
}


.related-article-box
{
	width: 33%;
	float: left;
}

.related-article-box img
{
	float: left;
}